<mat-list role="list">
  <mat-list-item role="listitem">
    <button mat-raised-button class="btn" color="primary">
      <mat-icon class="action-link">person_add</mat-icon>
      <a href="users/create"> Add user</a>
    </button>
  </mat-list-item>
  <mat-list-item role="listitem">
    <button mat-raised-button color="primary">
      <mat-icon class="action-link">assignment</mat-icon>
      <a href="users/list">List users</a>
    </button>
  </mat-list-item>
  <mat-list-item role="listitem">
    <button mat-raised-button color="primary">
      <mat-icon class="action-link">lock</mat-icon>
      <a href="login"> Login Page</a>
    </button>
  </mat-list-item>
</mat-list>
